/* Hauptlayout*/
html{
    scroll-behavior: smooth;
}

:root{
    --green: rgb(25, 135, 84);
    --beige: blanchedalmond;
    --braun: #9c7648;
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--beige);
    color: var(--braun);
    margin: 0;
    text-align: center;
    min-height: 100vh;
}

main{
    flex: 1;
    margin-top: 10px;
}

/* Layout der Überschrift*/
header{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--braun);
    color: blanchedalmond;
}


/*Navigation tab*/
nav.navbar{
    background-color: var(--green);
    position: sticky;
    top: 0%;
    z-index: 1000;
}
.navbar .nav-link{
    color: blanchedalmond;
    font-weight: 600;
}

.navbar .nav-link:hover{
    background-color: rgba(123, 81, 20, 0.597);
    border-radius: 4px;
}

/* Karte layout */
.map h2{
    font-weight: bolder;
}

/*Buttons*/
.button2{
   display: inline-block;
    padding: 5px 10px;
    background-color: rgba(72, 136, 41, 0.763);
    color: blanchedalmond;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px; 
}


/*observation tabs*/

.observation-card{
    border: 2px solid rgba(123, 81, 20, 0.597);
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    transition: transform 0.3s, box-shadow 0.3s;
    height: 100%;
}
.observation-card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}
.observation-card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px;
}
.details{
    display: none;
}
.observation-card:hover .details{
    display: block;
    margin-top: 10px;
    font-size: 0.9rem;
}
#loading-button{
    z-index: 1;
}

/*Filtertabelle*/
.table1 {
  background-color: rgba(123, 81, 20, 0.597);
  color:blanchedalmond;
  border-radius: 5px;
  padding: 20px 40px;
}
.tabletitle{
    font-weight: bold;
    padding: 10px;
    font-size: 1.4rem;
}
.inhalt{
    padding: 10px;
    font-size: 1.3rem;
}


/*Layout der Fußzeile*/
footer{
    text-align: left;
    background-color: rgba(123, 81, 20, 0.597);
    color: blanchedalmond;
    padding: 5px;
    margin-top: auto;
}
footer a{
    text-decoration: none;
    color: blanchedalmond;
    font-weight: bolder;
}


/* LOGIN TAB*/
#login {
    margin: 50px 0;
}

#register {
    color: blanchedalmond;
    background-color: rgba(123, 81, 20, 0.597);
    box-shadow: 0 2px 5px darkslategrey;
    border-radius: 8px;
    padding: 20px;
    margin: 0 10px 50px 10px;
}

#register_title {
    margin-bottom: 20px;
    margin-left: 50px;
}

#register_content {
    gap: 40px;
}

#register_content form {
    gap: 5px;
    min-width: 250px;
}

#register_content form p{
    margin-bottom: 25px;
}

#register_content input {
    margin: 0;
}

.error-message{
    position: absolute;
    left: 0;
    display: block;
    height: 20px;
    color:darkred;
    font-size: x-small;
    margin-top: 2px;
    overflow: visible;
    white-space: nowrap;
    line-height: 1.2rem;
    min-width: 250px;
    text-align: left;
}

button[type="submit"]:disabled{
    background-color: darkgrey !important;
    cursor: not-allowed !important;
    opacity: 0.6;
}

#login .eingabefeld{
    background-color: blanchedalmond;
    padding: 5px 10px;
    border-radius: 5px;
    border-color: rgba(123, 81, 20, 0.597);
    box-sizing: border-box;
    margin: 10px;
}

#register_content .eingabefeld {
    background-color: blanchedalmond;
    padding: 5px 10px;
    border-radius: 5px;
    border-color:  rgba(123, 81, 20, 0.597);
    width: 100%;
    box-sizing: border-box;
}

.datenschutzhinweis {
    padding: 5px 10px;
    font-size: small;
    display: flex;
}
#checkbox-error{
    pointer-events: none;
    position: static;
    margin-top: 2px;
}

.checkbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    pointer-events: auto;
}

.fox_laptop img {
    width: 800px;
    height: auto;
    border-radius: 8px;
}

/*IMPRESSUM TAB*/
.image-text{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}
.image-text img{
    height: 200px;
    width: auto;
    border-radius: 5px;
    margin-left: 10px;
}
.image-text .text{
    text-align: left;
}
.Datenschutzrichtlinien{
    text-align: left;
    margin-left: 10px;
    line-height: 1.2;
}
.text-innerhalb{
    line-height: 1.5;
    margin-bottom: 40px;
}
.Kontaktangabe{
    font-size: small;
}

/*RWD*/
/*Tablet*/

/*Smartphones*/
@media screen and (max-width:768px) {
    
    .login{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .register{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .fox_laptop img{
        width: 400px;
        height: auto;
        flex-direction: column;
    }
}