/* Hauptlayout*/
html{
    scroll-behavior: smooth;
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: blanchedalmond;
    color: rgba(123, 81, 20, 0.597);
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
}

main{
    flex: 1;
    margin-top: 10px;
}

/* Layout der Überschrift*/
header{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(123, 81, 20, 0.597);
    color: blanchedalmond;
    text-align: center;
    margin-bottom: 5px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.header-img{
    height: 115px;
    width: auto;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.headertitle{
    flex: 1;
}

/*Navigation tab*/
nav{
    background-color:rgba(72, 136, 41, 0.763);
    margin: 0;
    gap: 20px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.nav-img{
    height: 50px;
    width: auto;
    border-radius: 5px;
}
.navigation-center a{
    display: inline-block;
    border-radius: 5px;
    padding: 20px 10px;
    text-decoration: none;
    font-weight: bolder;
    font-size: small;
    color: blanchedalmond;
    transition: background-color 0.5s;
}
.navigation-left{
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.navigation-center{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    gap: 20px;
}
.navigation-center a:hover{
    background-color: rgba(123, 81, 20, 0.597);
}

/* Karte layout */
.map {
    position: relative;
    width: 1000px;
    height: 600px;
    margin: 20px auto;
    background-image: url('pictures/Karte_Volkspark.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none; 
}

/*marker position*/
.marker {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgba(72, 136, 41, 0.763);
    border-radius: 50%;
    cursor: pointer;
    pointer-events: auto; 
    display: block;
}
.marker:hover {
    transform: scale(1.3);
    background-color: darksalmon;
}

/*Buttons*/
.button2{
   display: inline-block;
    padding: 5px 10px;
    background-color: rgba(72, 136, 41, 0.763);
    color: blanchedalmond;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px; 
}

/*SEARCH AND ADD*/
.search-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.search{
    margin-bottom: 20px;
}

/*observation tabs*/
.observations{
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}
.observation-card{
    width: 25%;
    border: 2px solid rgba(123, 81, 20, 0.597);
    border-radius: 10px;
    padding: 20px;
    /*background-color: rgba(197, 223, 244, 0.456);*/
    text-align: left;
    transition: transform 0.3s; box-shadow: 0.3s;
}
.observation-card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}
.observation-card:hover{
    transform: scale(1.15);
    box-shadow: 0 4px 8px;
}
.details{
    display: none;
}
.observation-card:hover .details{
    display: block;
    margin-top: 10px;
    font-size: 0.9rem;
}

/*Filtertabelle*/
.table1 {
  background-color: rgba(123, 81, 20, 0.597);
  color:blanchedalmond;
  margin: 0 auto 60px auto;
  border-radius: 5px;
  padding: 20px 40px;
}
.tabletitle{
    font-weight: bold;
    padding: 10px;
    font-size: 1.4rem;
}
.inhalt{
    padding: 10px;
    font-size: 1.3rem;
}


/*Layout der Fußzeile*/
footer{
    text-align: left;
    background-color: rgba(123, 81, 20, 0.597);
    color: blanchedalmond;
    padding: 5px;
    margin-top: auto;
}
footer a{
    text-decoration: none;
    color: blanchedalmond;
    font-weight: bolder;
}


/* LOGIN TAB*/
.login {
    margin: 50px 0;
}

.register {
    color: blanchedalmond;
    background-color: rgba(123, 81, 20, 0.597);
    border-radius: 8px;
    padding: 20px;
    margin: 0 10px 50px 10px;
}

.register_title {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 50px;
}

.register_content {
    display: flex;
    justify-content:space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
}

.register_content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    flex: 1;
    min-width: 250px;
}

.register_content input {
    display: block;
    margin: 0;
}

.eingabefeld {
    background-color: blanchedalmond;
    padding: 5px 10px;
    border-radius: 5px;
    border-color:  rgba(123, 81, 20, 0.597);
}

.datenschutzhinweis {
    padding: 5px 10px;
    font-size: small;
}

.checkbox{
    display: flex;
    align-items: center;
}

.fox_laptop img {
    width: 800px;
    height: auto;
    border-radius: 8px;
}

/*IMPRESSUM TAB*/
.image-text{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}
.image-text img{
    height: 200px;
    width: auto;
    border-radius: 5px;
    margin-left: 10px;
}
.image-text .text{
    text-align: left;
}
.Datenschutzrichtlinien{
    text-align: left;
    margin-left: 10px;
    line-height: 1.2;
}
.text-innerhalb{
    line-height: 1.5;
    margin-bottom: 40px;
}
.Kontaktangabe{
    font-size: small;
}

/*RWD*/
/*Tablet*/
@media screen and (max-width:1024px) {
    .observations .observation-card{
        width: 45%;
    }
    .map{
        width: 90%;
        height: 400px;
    }
    .header-img{
        height: 80px;
        margin: 5px;
    }
}
/*Smartphones*/
@media screen and (max-width:768px) {
    .navigation-center{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .navigation-center a{
        width: 80%;
        text-align: center;
    }
    .observations .observation-card{
        width: 90%;
    }
    .map{
        width: 100%;
        height: 300px;
    }
    .header{
        flex-direction: column;
        text-align: center;
        font-size: medium;
    }
    .header-img{
        width: 80px;
        height: auto;
        margin: 10px auto;
    }
    .login{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .register{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .fox_laptop img{
        width: 400px;
        height: auto;
        flex-direction: column;
    }
    footer{
        text-align: center;
    }
}