/* Hauptlayout*/
html{
    scroll-behavior: smooth;
}

:root{
    --green: rgba(72, 136, 41, 0.763);
    --beige: blanchedalmond;
    --braun: #9c7648;
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--beige);
    color: var(--braun);
    margin: 0;
    text-align: center;
    min-height: 100vh;
}

main{
    flex: 1;
    margin-top: 10px;
}

/* Layout der Überschrift*/
header{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--braun);
    color: var(--beige);
}


/*Navigation tab*/
nav.navbar{
    background-color: var(--green);
    position: sticky;
    top: 0%;
    z-index: 1000;
}
.navbar .nav-link{
    color: var(--beige);
    font-weight: 600;
}

.navbar .nav-link:hover{
    background-color: var(--braun);
    border-radius: 4px;
}

/* Karte layout */
.map h2{
    font-weight: bolder;
}

/*Buttons*/

.brdoutline2{
    border-color: var(--green) !important;
    color: var(--green);
}

.brdoutline{
    border-color: rgba(72, 136, 41, 0.763) !important;
    color: var(--green);
}

.brdoutline3{
    border-color: var(--beige) !important;
    background-color: var(--green);
    color: var(--beige);

}

.brdoutline3:hover{
    border-color: var(--green);
    color: var(--green);
    box-shadow: 0 2px 4px;
}

.brdoutline:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px;
}


/*observation tabs*/

.observation-card{
    border: 2px solid rgba(123, 81, 20, 0.597);
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    transition: transform 0.3s, box-shadow 0.3s;
    height: 100%;
}
.observation-card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}
.observation-card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px;
}
.details{
    display: none;
}
.observation-card:hover .details{
    display: block;
    margin-top: 10px;
    font-size: 0.9rem;
}
.observation-card.show-details .details {
    display: block;
}
#loading-button{
    z-index: 1;
}
.highlight{
    outline: 4px var(--green);
    box-shadow: 0 4px 8px;
    transform: scale(1.05);
}

/*sidebar*/
#mapid{
    height: 400px;
    width: 100%;
}

/*Filtertabelle*/
.table1 {
  background-color: rgba(123, 81, 20, 0.597);
  color:blanchedalmond;
  border-radius: 5px;
  padding: 20px 40px;
}
.tabletitle{
    font-weight: bold;
    padding: 10px;
    font-size: 1.4rem;
}
.inhalt{
    padding: 10px;
    font-size: 1.3rem;
}


/*Layout der Fußzeile*/
footer{
    text-align: left;
    background-color: rgba(123, 81, 20, 0.597);
    color: blanchedalmond;
    padding: 5px;
    margin-top: auto;
}
footer a{
    text-decoration: none;
    color: blanchedalmond;
    font-weight: bolder;
}


/* LOGIN TAB*/


#register {
    color: blanchedalmond;
    background-color: rgba(123, 81, 20, 0.597);
    box-shadow: 0 2px 5px darkslategrey;
    border-radius: 8px;
  
}


button[type="submit"]:disabled{
    background-color: darkgrey !important;
    cursor: not-allowed !important;
    opacity: 0.6;
}

.form-control{
    background-color: blanchedalmond;
    padding: 5px 10px;
    border-radius: 5px;
    border-color: rgba(123, 81, 20, 0.597);
    box-sizing: border-box;
    margin: 10px;
}


.datenschutzhinweis {
    padding: 5px 10px;
    font-size: small;
    display: flex;
}

.fox_laptop img {
    width: 800px;
    height: auto;
    border-radius: 8px;
}

/*IMPRESSUM TAB*/
.image-text{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}
.image-text img{
    height: 200px;
    width: auto;
    border-radius: 5px;
    margin-left: 10px;
}
.image-text .text{
    text-align: left;
}
.Datenschutzrichtlinien{
    text-align: left;
    margin-left: 10px;
    line-height: 1.2;
}
.text-innerhalb{
    line-height: 1.5;
    margin-bottom: 40px;
}
.Kontaktangabe{
    font-size: small;
}

/*RWD*/
/*Tablet*/

/*Smartphones*/
@media screen and (max-width:768px) {
    
    .login{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .register{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .fox_laptop img{
        width: 400px;
        height: auto;
        flex-direction: column;
    }
}